Assignment1-Client/Connected Services/SayHello/SayHello.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SayHello" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISayHello_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISayHello_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ISayHello_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ISayHello_OpeningJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:OpeningJobs" />
  </wsdl:message>
  <wsdl:message name="ISayHello_OpeningJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpeningJobsResponse" />
  </wsdl:message>
  <wsdl:message name="ISayHello_OpeningJobsByRole_InputMessage">
    <wsdl:part name="parameters" element="tns:OpeningJobsByRole" />
  </wsdl:message>
  <wsdl:message name="ISayHello_OpeningJobsByRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpeningJobsByRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="ISayHello">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ISayHello/DoWork" message="tns:ISayHello_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISayHello/DoWorkResponse" message="tns:ISayHello_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpeningJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/ISayHello/OpeningJobs" message="tns:ISayHello_OpeningJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISayHello/OpeningJobsResponse" message="tns:ISayHello_OpeningJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpeningJobsByRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ISayHello/OpeningJobsByRole" message="tns:ISayHello_OpeningJobsByRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISayHello/OpeningJobsByRoleResponse" message="tns:ISayHello_OpeningJobsByRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISayHello" type="tns:ISayHello">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISayHello/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpeningJobs">
      <soap:operation soapAction="http://tempuri.org/ISayHello/OpeningJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpeningJobsByRole">
      <soap:operation soapAction="http://tempuri.org/ISayHello/OpeningJobsByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ISayHello" type="tns:ISayHello">
    <wsp:PolicyReference URI="#NetTcpBinding_ISayHello_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DoWork">
      <soap12:operation soapAction="http://tempuri.org/ISayHello/DoWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpeningJobs">
      <soap12:operation soapAction="http://tempuri.org/ISayHello/OpeningJobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpeningJobsByRole">
      <soap12:operation soapAction="http://tempuri.org/ISayHello/OpeningJobsByRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SayHello">
    <wsdl:port name="BasicHttpBinding_ISayHello" binding="tns:BasicHttpBinding_ISayHello">
      <soap:address location="http://localhost:8081/SayHello" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ISayHello" binding="tns:NetTcpBinding_ISayHello">
      <soap12:address location="net.tcp://localhost:8082/SayHello" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8082/SayHello</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DOTNET\Admin</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>